@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200..800&display=swap');
@import './base.css';

@import 'tailwindcss';

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

html,
body {
  font-family: "Bricolage Grotesque", sans-serif;
}

#app {
  min-height: 100vh;
}