@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;600;700;800;900&display=swap');

@import './base.css';

@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Archivo Black', sans-serif;
  --font-serif-display: 'DM Serif Display', serif;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

#app {
  min-height: 100vh;
}